<header th:fragment="header">
    <h1>SPoPify Albums</h1>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark mb-3">
        <a class="navbar-brand" th:href="@{/files}">
            BezKoder
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <nav>
                    <ul>
                        <li><a th:href="@{/files}">Files</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        <li><a th:href="@{/categories}">Categories</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        <li><a th:href="@{/artists}">Artists</a></li>

                    </ul>
                </nav>
            </ul>
        </div>
    </nav>
</header>